node_modules
dist
.git
ec-crm-frontend-export
crm-frontend/node_modules
crm-frontend/dist
.env
.env.local
.env.production
*.md
*.ps1
*.csv
*.txt
*.patch
